<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      <h1 class="text-center">Components carriage.dk</h1>

      <div class="gray_box padded margined_updown">
        <h2>Avatars</h2>
        <%= image_tag "louis", class: "avatar", alt: "Louis" %>
        <%= image_tag "louis", class: "avatar-large", alt: "Louis" %>
        <%= image_tag "louis", class: "avatar-bordered", alt: "Louis" %>
        <%= image_tag "louis", class: "avatar-square", alt: "Louis" %>
        <br><br>
        <%= image_tag "hadrien", class: "avatar", alt: "hadrien" %>
        <%= image_tag "hadrien", class: "avatar-large", alt: "hadrien" %>
        <%= image_tag "hadrien", class: "avatar-bordered", alt: "hadrien" %>
        <%= image_tag "hadrien", class: "avatar-square", alt: "hadrien" %>
      </div>

      <div class="gray_box padded margined_updown">
        <h2>Buttons</h2>
        <h3>Standard</h3>
        <%= link_to t("Submit"), "", class: "btn btn-shadow btn-brand" %>
        <h3>Large</h3>
        <%= link_to t("Submit"), "", class: "btn btn-shadow btn-brand btn-w260" %>
      </div>

      <div class="gray_box padded margined_updown">
        <h2>Badge</h2>
        <h3>User badge</h3>
        <div class="badge-container">
          <%= image_tag "hadrien", class: "avatar", alt: "hadrien" %>
          <div class="badge badge-red">M</div>
        </div>
        <h3>Icon badge</h3>
        <div class="badge-container">
          <i class="fa fa-envelope-o"></i>
          <div class="badge badge-blue">3</div>
        </div>
      </div>

      <div class="gray_box padded margined_updown">
        <h2>Banner</h2>
        <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path "background_n1d4lc.jpg", crop: :fit; %>');">
          <div class="banner-content">
            <h1>Some Stuff</h1>
            <p>Very cool stuff, useful and smart</p>
            <a class="btn btn-primary btn-lg">GET IT</a>
            <%# cl_image_path("background_n1d4lc.jpg") %>
          </div>
        </div>
      </div>

      <div class="gray_box padded margined_updown">
        <h2>Card</h2>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path "background_n1d4lc.jpg" %>');">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <%= image_tag "hadrien", class: "avatar card-user", alt: "hadrien" %>
          <a class="card-link" href="#" ></a>
        </div>
      </div>

      <div class="gray_box padded margined_updown">
        <h2>List item</h2>
          <h3>Product with image</h3>
          <div class="product">
            <div class='product-upvote'>
              <div class="product-arrow"></div>
              <div class='product-count'>95</div>
            </div>
            <%= cl_image_tag "background_n1d4lc.jpg", class: "product-image hidden-xs" %>
            <div class='product-body'>
              <h3>Kudoz</h3>
              <p>Les meilleures offres d'emploi cadre sur mobile</p>
            </div>
            <ul class="list-inline product-controls hidden-sm hidden-xs">
              <li><a href=""><i class="fa fa-heart"></i></a></li>
              <li><a href=""><i class="fa fa-share"></i></a></li>
              <li><a href=""><i class="fa fa-star"></i></a></li>
            </ul>
          </div>

          <h3>Hidden controls</h3>
          <div class="product">
            <div class='product-upvote'>
              <div class="product-arrow"></div>
              <div class='product-count'>95</div>
            </div>
            <%= cl_image_tag "background_n1d4lc.jpg", class: "product-image hidden-xs" %>
            <div class='product-body'>
              <h3>Kudoz</h3>
              <p>Les meilleures offres d'emploi cadre sur mobile</p>
            </div>
            <ul class="list-inline product-controls product-controls-hidden hidden-sm hidden-xs">
              <li><a href=""><i class="fa fa-heart"></i></a></li>
              <li><a href=""><i class="fa fa-share"></i></a></li>
              <li><a href=""><i class="fa fa-star"></i></a></li>
            </ul>
          </div>
      </div>

      <div class="gray_box padded margined_updown">
        <h2>Tabs</h2>
          <div class="tabs">
            <a class="tab active" href="#">
              <h3>350</h3>
              <p>Followers</p>
            </a>
            <a class="tab" href="#">
              <h3>456</h3>
              <p>Following</p>
            </a>
            <a class="tab" href="#">
              <h3>189</h3>
              <p>Upvoted</p>
            </a>
            <a class="tab" href="#">
              <h3>13</h3>
              <p>Submitted</p>
            </a>
          </div>
      </div>

      <div class="gray_box padded margined_updown">
       <h2>Share links</h2>
      </div>

      <div class="gray_box padded margined_updown">
       <h2>Google Map components</h2>
        <h3>Index Infowindow</h3>
          <div class="bike_index_iw-wrapper">
            <div class="bike_index_iw-content">
              <div class="bike_index_iw-picture-wrapper">
                <%= cl_image_tag @bikes.first.photo.first.path, width: 230, height:153, crop: :fill; %>
              </div>
              <div class="bike_index_iw-price-wrapper">
                <span class="bike_index_iw-price-wrapper-price">
                  <%= humanized_money @bikes.first.price %>
                </span>
                <span class="bike_index_iw-price-wrapper-currency">
                  <%= @bikes.first.price.currency.iso_code + "/day" %>
                </span>
              </div>
              <div class="bike_index_iw-body-wrapper">
                <div class="bike_index_iw-body-content">
                  <span class="bike_index_iw-body-content-avatar-wrapper">
                    <%= image_tag "hadrien", class: "avatar bike_index_iw-body-content-avatar", alt: "" %> <!-- TODO replace by profile pics -->
                  </span>
                  <div class="bike_index_iw-body-content-text-wrapper">
                    <div class="bike_index_iw-body-content-text-content">
                      <span class="bike_index_iw-body-content-text-content-title">
                        <%= "#{@bikes.first.brand_model}" %>
                      </span>
                      <span class="bike_index_iw-body-content-text-content-descr">
                        <%= "#{@bikes.first.caption}" %>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
        <h3>Index Custom marker</h3>
        <h3>Show Custome marker zone</h3>
      </div>

      <div class="gray_box padded margined_updown">
        <h2>GMap with markers and custom infoWindow</h2>
        <h3>not the latest version</h3>
        <div id="map"></div>
      </div>

      <!-- <div class="gray_box padded margined_updown">
      <h2>Component</h2>
      </div> -->

    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script>
      $(document).ready(function() {
      function initMap() {
        // Define home
        var home = {lat: 55.658, lng: 12.607 };
        // Display a map on the page, centered on home
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: home
        });
        // Set the InfoWindow content
        var contentString = '<div class="bike_index_iw-wrapper">' +
                          '<div class="bike_index_iw-content">' +
                            '<div class="bike_index_iw-picture-wrapper">' +
                              '<%= cl_image_tag @bikes.first.photo.first.path, width: 230, height:153, crop: :fit; %>' +
                            '</div>' +
                            '<div class="bike_index_iw-price-wrapper">' +
                              '<span class="bike_index_iw-price-wrapper-price">' +
                                  <%= humanized_money @bikes.first.price %> +
                              '</span>' +
                              '<span class="bike_index_iw-price-wrapper-currency">' +
                                  '<%= @bikes.first.price.currency.iso_code %>' +
                              '</span>' +
                            '</div>' +
                            '<div class="bike_index_iw-body-wrapper">' +
                              '<div class="bike_index_iw-body-content">' +
                                '<span class="bike_index_iw-body-content-avatar-wrapper">' +
                                    '<img class="avatar bike_index_iw-body-content-avatar" alt="" src="/assets/hadrien.jpg">' +
                                '</span>' +
                                '<div class="bike_index_iw-body-content-text-wrapper">' +
                                  '<div class="bike_index_iw-body-content-text-content">' +
                                    '<span class="bike_index_iw-body-content-text-content-title">' +
                                        '<%= @bikes.first.brand_model[0..21] %>' +
                                    '</span>' +
                                    '<span class="bike_index_iw-body-content-text-content-descr">' +
                                        '<%= @bikes.first.caption %>' +
                                    '</span>' +
                                  '</div>' +
                                '</div>' +
                              '</div>' +
                            '</div>' +
                          '</div>' +
                        '</div>';
        // var contentString2 = <%# render "contentTest" %>
        // alert(contentString2);

        var infowindow = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 230
        });

        // Define bounds
        var bounds = new google.maps.LatLngBounds();
        // Define infoWindow
        var infoWindow = new google.maps.InfoWindow(); /* SINGLE */

        // Multiple markers
        var markers = <%= raw @markers.to_json %>
        console.log(markers);
        for( i = 0; i < markers.length; i++) {
              var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
              bounds.extend(position);
              var marker = new google.maps.Marker({
                position: {lat: markers[i][1], lng: markers[i][2]},
                map: map,
                title: "marker id:" + markers[i][0]
              });
        // Allow each marker to have an info window
         google.maps.event.addListener(marker, 'click', (function(marker, i) {
             return function() {
                 infoWindow.setContent(<%= render 'partial_maps' %>);
                 infoWindow.open(map, marker);
                 $('.bike_index_iw-wrapper').closest('.gm-style-iw').parent().addClass('custom-iw');

             }
         })(marker, i));

        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);

        // Inject new css to the infowindow
              google.maps.event.addListener(infoWindow, 'domready', function () {
              $('.bike_index_iw-wrapper').closest('.gm-style-iw').parent().addClass('custom-iw');
              });
        }

        // Closing opened infoWindow by clicking anywhere else on the map
        google.maps.event.addListener(marker, 'click', function() {
            if(!marker.open){
                infoWindow.open(map,marker);
                marker.open = true;
            }
            else{
                infoWindow.close();
                marker.open = false;
            }
            google.maps.event.addListener(map, 'click', function() {
                infoWindow.close();
                marker.open = false;
            });
        });
        // marker.addListener('click', function() {
        //   infowindow.open(map, marker);
        // });
      }
      // necessary since we use $(document).ready(function()
      initMap();
      });
    </script>
<% end %>
