<h1>Pages#home</h1>
<%= cl_image_tag("dectr5c65xtetnlviguh", :width => 100, :height => 150, :crop => :fill) %>
<br><br><br>
<% @bikes.each do |bike| %>
  id: <%= bike.id %>, brand: <%= bike.brand %>
  <br>
<% end %>
<%= link_to "All Bikes", bikes_path %>

<br>
<% 100.times do %>
 <%= "Lorem ipsum so many bikes" %> <br>
<% end %>
