<div class="container bike_show">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="bike_show-title-wrapper">
        <span class="bike_show-title">
          <%= @bike.brand %>
        </span>
        <span class="bike_show-subtitle">
          <%= @bike.brand_model %>
        <%= "#{@bike.brand_sku}"[0..31] %>
        <% 5.times do %> <!-- TODO replace 5 by ratings # -->
           <i class="bike_index-ratings fa fa-star" aria-hidden="true"></i>
        <% end %>
        </span>
      <br>
      <span class="bike_show-ownedby">
        Owned by <%= link_to "#{@bike.user.anonymous}", bike_profile_path(@bike, @bike.user) %>
      </span>
      </div>
      <%= render 'show_carousel' %>
       <div class="bike_show-description-wrapper">
       <p>Owner's description:</p>
       <h3><%= @bike.description_title %></h3>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <%= render 'show_description' %>
          </div>
          <div class="col-xs-12 col-sm-6">
            <%= render 'show_booleans' %>
          </div>
        </div>
      </div>
      <hr>
      <p>Bike information:</p>
      <%= render 'show_specs' %>
      <hr>
      <%= render 'map' %>
      <hr>
      <%= render 'show_ratings' %>
      color: <%= @bike.color %> <br>
      <!-- description_title: <%= @bike.description_title %> <br>
      description: <%= @bike.description %> <br> -->
      caption: <%= @bike.caption %> <br>
      address: <%= @bike.address %> <br>
      zip code: <%= @bike.zip_code %> <br>
      city: <%= @bike.city %> <br>
      country: <%= @bike.country %> <br>
      price: <%= humanized_money_with_symbol(@bike.price) %> <br>

      <%= link_to "back to home", bikes_path %>
      <%# content_for(:after_js) do %>
        <!-- <script>
          $(document).ready(function() {
            var coord = <%= raw @bike_coordinates.to_json %>;
            alert('Bike coordinates are ' + coord.lat + ', ' + coord.lng);
          });
        </script> -->
      <%# end %>



    </div>
    <div class="col-xs-12 col-sm-4">
      <%= simple_form_for [@bike, @rental] do |f| %>
        <%= f.input :pick_up_date %>
        <%= f.input :return_date %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
